<%- include ('Partials/_header.ejs'); %>


<div id="tBody" class="container">
    <div class="row">
        <div class="col-md-2 col-0">
        </div>

        <div class="col-md-8 col-12">
            <table>
                <thead>
                    <tr>
                        <th>TIPO...</th>
                        <th>VULNERABLE A...</th>
                        <th>FUERTE CONTRA...</th>
                    </tr>
                </thead>

                <tbody id="bodyTable">

                </tbody>
            </table>
        </div>

        <div class="col-md-2 col-0">
        </div>

    </div>

</div>





<%- include ('Partials/_footer.ejs'); %>
